# Solo se necesita si ejecutas React en modo desarrollo con Vite.
# VITE_API_URL=http://127.0.0.1:8000/api
DATABASE_URL=postgresql://postgres.[PROJECT_REF]:[PASSWORD]@aws-0-us-east-1.pooler.supabase.com:6543/postgres
